<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      label{
        color: white;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body style="background-image: linear-gradient(to left, #402cef,#b52de3);">
    <%- include('partials/nav.ejs') %>
    <div style="margin-top:55px; background-image: linear-gradient(to left, #402cef,#b52de3);">
      <h2 style="color: white;">Complete Hotel Information</h2>
      <form
        method="post"
        action="/addhotelowner"
        name="register_form"
        class="form-group"
        style="margin:5%"
        enctype="multipart/form-data"
      >
        <div class="input-group mb-3">
          <label for="name" class="col-sm-2 col-form-label">Hotel Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Hotel Name"
            aria-label="Hotel Name"
            aria-describedby="basic-addon1"
            id="name"
            required
          />
        </div>
        <div class="input-group mb-3">
          <label for="cc" class="col-sm-2 col-form-label">Rooms Count</label>
          <input
            type="number"
            name="cc"
            class="form-control"
            placeholder="Room Count"
            aria-label="Room Count"
            aria-describedby="basic-addon1"
            id="cc"
            required
          />
        </div>

        <div class="input-group mb-3">
          <label for="address" class="col-sm-2 col-form-label">Address</label>
          <input
            type="text"
            class="form-control"
            name="address"
            placeholder="Address"
            aria-label="address"
            aria-describedby="basic-addon7"
            id="address"
            required
          />
        </div>
        <div class="input-group mb-3">
          <label for="phone" class="col-sm-2 col-form-label"
            >Phone Number</label
          >
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon8">+963</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="phone"
            placeholder="phone number"
            aria-label="phone"
            aria-describedby="basic-addon9"
            id="phone"
            required
          />
        </div>
        <div class="input-group mb-3">
          <label for="stars" class="col-sm-2 col-form-label"
            >Hotel rating</label
          >
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon8">Stars</span>
          </div>
          <input
            type="number"
            class="form-control"
            name="stars"
            placeholder="Hotel rating"
            aria-label="Hotel rating"
            aria-describedby="basic-addon9"
            id="stars"
            required
          />
        </div>
        <div class="input-group mb-3">
          <label for="file" class="col-sm-2 col-form-label"
            >Hotel Image</label
          >
          <input
              type="file"
              name="file"
              class="form-control"
              aria-label="Room Images"
              aria-describedby="basic-addon1"
              id="file"
              accept=".jpg,.jpeg,.png"
              required
            />
        </div>
        <div>
            <input type="hidden" name="UID" value="<%= UID %>" />
        </div>
        <div class="input-group">
          <button style="background-color:blueviolet; border: 0;" type="submit" class="btn btn-primary" style="width:200px">
            Add Information
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
