<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body style="background-image: linear-gradient(to left, #402cef,#b52de3);">
  <%- include('partials/nav.ejs') %>
  <div style="margin-top:70px; background-image: linear-gradient(to left, #402cef,#b52de3);">
    <h1 style="color: white;">Success! <%= addtype %> Completed</h1>
    <p style="color: white;">Your <%= addtype %> adding was successful. You can return to your home page.</p>
    <a style="background-color:blueviolet; border: 0;" style="color: white;" href="/adminhome" class="btn btn-primary">here</a>
  </div>
</body>
</html>