<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  </head> 
  <body style="background-image: linear-gradient(to left, #402cef,#b52de3);"> 
    <%- include('partials/nav.ejs') %> 
    <div style="margin-top:100px"> 
      <div style="background-image: linear-gradient(to left, #402cef,#b52de3);" class="container d-flex justify-content-center align-items-center" style="height: 80vh;"> 
        <div class="row"> 
          <div class="col-12 mb-3"> 
            <a href="/addhotel" style="background-color:blueviolet; border: 0;" class="btn btn-primary btn-block">Add Hotel Manager</a> 
          </div>
          <div class="col-12 mb-3"> 
            <a href="/deletehotels" style="background-color:blueviolet; border: 0;" class="btn btn-primary btn-block">Delete Hotel</a> 
          </div>  
          <div class="col-12 mb-3"> 
            <a href="/" style="background-color:blueviolet; border: 0;" class="btn btn-primary btn-block">Logout</a> 
          </div>  
        </div> 
      </div> 
    </div> 
  </body> 
  </html>