<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body style="background-image: linear-gradient(to left, #402cef,#b52de3);">
  <%- include('partials/nav.ejs') %>
  <div style="margin-top:70px; background-image: linear-gradient(to left, #402cef,#b52de3);">
    <h1 style="color: white;">Success! Registration Completed</h1>
    <p style="color: white;">Your registration was successful. You can now login to your account.</p>
    <a style="color: white;" href="/login" class="btn btn-primary">Login</a>
  </div>
</body>
</html>